@model TapPaymentIntegration.Models.Roles.ForgotPasswordModel
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_IdentityLayout.cshtml";
}


<div class="login-box">
    <!-- /.login-logo -->
    <div class="card card-outline card-primary">
        <div class="card-header text-center">
            <a href="#" class="h1"><b>Tamarran</b></a>
        </div>
        <div class="card-body">
            <p class="login-box-msg">Forgot Password</p>
            <form asp-action="ForgotPassword" asp-controller="Accounts">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <label asp-for="Email" class="control-label"></label>
                <div class="input-group mb-3">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="input-group mb-3">
                    <input type="submit" value="Submit" class="btn btn-primary" />
                </div>
            </form>
            <p class="mb-1">
                <div asp-validation-summary="All" class="text-danger"></div>
            </p>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>




